<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    #content {
        position: fixed; /* or absolute */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: cornflowerblue;
    }
</style>
<body>
<script type="text/javascript">
    // document.write ('<p>Current time is: <span id="date-time">', new Date().toLocaleString(), '<\/span><\/p>')
    if (document.getElementById) onload = function () {
        setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
    }
</script>
<div id="content">
    <h1>Hello world</h1>
    <h1>Current time is: <span id="date-time"> </span></h1>

</div>
</body>
</html>